<%= form_with(model: @comment, url: [@post, @comment]) do |form| %>

<div>
  <form action="/posts/new">
    <div>
      <%= form.text_field :content, placeholder:"Post your comment", label: "Post your comment", label_class:"form_label" %>
    </div>

      <%= form.button :submit %>
      
  </form>
</div>
<% end %>