<figure class="snip0042 red">
    <figcaption>
        <h2> Welcome <span><%= current_user.username %></span></h2>
        <p>Number of Gems posted : <%= Post.all.where(user_id: current_user.id).count %></p>
        <p>Number of Comments : <%= Comment.all.where(user_id: current_user.id).count %></p>
        <div class="icons">
        </div>  
    </figcaption>
     
    <div class="position"></div>
</figure>