.grid-container {

  display: grid;
  grid-template-columns: auto auto auto;

}

.grid-item {

  padding: 20px;

}

body {
	background: rgb(255,0,0);
background-image: linear-gradient(to right, #ff0000, #d02123, #9e2f2f, #6b3334, #343131);
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}