@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
.snip1420 {
  font-family: 'Roboto', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.snip1420 * {
  box-sizing: border-box;
}
.snip1420 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.5em 1em;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
}
.snip1420 li:before,
.snip1420 li:after {
  display: block;
}
.snip1420 li:before {
  bottom: 0%;
}
.snip1420 li:after {
  bottom: 50%;
}
.snip1420 a {
  backface-visibility: hidden;
  color: #e6e6e6;
  display: block;
  padding: 0.5em 1em;
  position: relative;
  text-align: center;
  text-decoration: none;
}
.snip1420 a:before {
  bottom: 25%;
}
.snip1420 a:after {
  bottom: 75%;
}
.snip1420 a:hover {
  color: #ffffff;
}
.snip1420 li:before,
.snip1420 li:after,
.snip1420 a:before,
.snip1420 a:after {
  background-color: #cc0000;
  position: absolute;
  height: 25%;
  left: 50%;
  right: 50%;
  content: '';
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.snip1420 li:before {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.snip1420 li:after {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.snip1420 a:before {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}
.snip1420 a:after {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
.snip1420 li:hover:before,
.snip1420 li.current:before,
.snip1420 li:hover:after,
.snip1420 li.current:after,
.snip1420 li:hover a:before,
.snip1420 li.current a:before,
.snip1420 li:hover a:after,
.snip1420 li.current a:after {
  left: 0;
  right: 0;
  opacity: 1;
}
.snip1420 li:hover:before,
.snip1420 li.current:before {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.snip1420 li:hover:after,
.snip1420 li.current:after {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.snip1420 li:hover a:before,
.snip1420 li.current a:before {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.snip1420 li:hover a:after,
.snip1420 li.current a:after {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}